table {
    width: 80%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    font-size: 14px;
  }
  